// .f__container{
//     max-width: 1170px;
//     margin: auto;
// }
// .footer {
//     position: relative;
// }
.map {
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  margin: 0;
  width: 50%;
  float: left;
}

.f-contacts {
  flex-basis: 50%;
  padding-top: 100px;
  padding-left: 1160px;
}
// .f-contacts-block{
//     display: flex;
//     justify-content: flex-end;
// }
.f-contacts__title {
  font-size: 22px;
  @include bold();
  margin-bottom: 100px;
  max-width: 300px;
}
.f-contacts-list {
  padding: 0;
  list-style: none;
}
.f-contacts-list__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.f-contact-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 25px;
  margin-top: 6px;
}
.f-contacts-list__text {
  max-width: 160px;
  font-size: 16px;
}
.foot-tel {
  text-decoration: none;
  color: #000;
}
@media (max-width: 1650px){
  .f-contacts{
    padding-left: 1040px;
  }
}
@media (max-width: 1500px) {
  .f-contacts {
    padding-left: 950px;
  }
}
@media (max-width: 1300px) {
  .f-contacts {
    padding-left: 850px;
  }
}
@media (max-width: 1200px) {
  .f-contacts {
    padding-left: 700px;
  }
}
@media (max-width: 1100px) {
  .f-contacts {
    padding-left: 650px;
  }
}
@media (max-width: 1000px) {
  .f-contacts {
    padding-left: 550px;
  }
}

@media (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .map {
    width: 100%;
  }
  .f-contacts {
    // padding-left: 330px;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .contain-foot {
    max-width: 400px;
    margin: auto;
  }
  .f-contacts__title {
    max-width: 600px;
  }
}

@media (max-width: 450px) {
  .f-contacts__title {
    font-size: 18px;
    max-width: 300px;
  }
  .f-contacts-list__text {
    font-size: 16px;
  }
  .f-contacts {
    padding-left: 100px;
  }
}
@media (max-width: 350px) {
  .f-contacts__title {
    max-width: 250px;
  }
  .f-contacts {
    padding-left: 50px;
  }
  .map{
    height: 50%;
  }
}
