
.modal {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(#000, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.modal_active {
  display: flex;
}
.modal_dialog {
  display: flex;
  // align-items: center;
  // z-index: inherit 1;
position: relative;
  margin: auto;
  width: 1070px;
  // width: 80%;
  height: 700px;
  background: #ffffff;
  .close{
    padding: 7px;
position: absolute;
right: 0;
top: 0;
background: tomato;

}

}
.close:active{
    background-color: red;
}
.close:hover{
  background-color: #B22222;
  cursor: pointer;
}

.mod-col-1{
  background: #f7f7f7;
}
.mod-col-2{
  display: flex;
flex-direction: column;

}
.modal-form{
display: flex;
flex-direction: column;

}
.modal-column{
  
  flex-basis: 50%;
}


.modal-btn{
  @include bold();
  font-size: 16px;
  max-width: 370px;
  margin: auto;
}

.modal-in{
  width: 370px;
  // padding: 25px 270px 25px 30px;
  // margin: 0 auto;
}
.m-in-2{
  margin-left: 0;
  margin: auto;
  margin-bottom: 33px;
}
.m-in-1{
  margin: auto;
  margin-bottom:15px;
}
.modal_title{
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  color:  333333;
  // display: inline-block;
  max-width: 300px;
  font-size: 22px;
  @include bold();
}
.modal_subtitle{
  padding-top: 45px;
  padding-bottom: 40px;
  margin: auto;
  font-size: 16px;
  @include reg();
  max-width: 350px;
}

.right_col-bottom{
  margin: auto;
  width: 270px;
  font-size: 15px;
  @include reg();
  text-align: center;
}
.right_col-text{
  padding-bottom: 50px;
  margin: auto;
  @include bold();
  font-size: 24px;
  max-width: 230px; 
  color: #333333;
  text-decoration: none;
}