.success2{
  padding: 50px;
  margin: auto;
  @include bold();
  text-align: center;

padding-top: 0;
}
.topcallback_number{
  margin: auto;
  
  
}
.topcallback{
  padding-top: 50px;
  margin-top: -100px !important;
}
.top-modal{
 
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(#000, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal_dialog-top{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  background: #ffffff;
width: 600px;
 height: 700px;
}
.close-top{
  
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 0;
  
}

.top-modal{
  display: none;
}
.success1{
  margin-top: 50px;
  margin: auto;
  @include bold();
  text-align: center;

}
.modal {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(#000, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}
.modal_active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.modal_dialog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  z-index: 10;
  
position: relative;

  margin: auto;
  width: 1070px;
  
  height: 700px;
  background: #ffffff;
  .close{
    padding: 7px;
position: absolute;
right: 0;
top: 0;
background: tomato;

}
#modname-error{
  position: absolute;
  border:none;
  color:red;
  margin: auto;
 bottom:347px;
 right: 200px;
  
}
#modphone-error{
  position: absolute;
  border:none;
  color:red;
  margin: auto;
 right: 200px;
 bottom: 230px;
}

}
.close:active{
    background-color: red;
}
.close:hover{
  background-color: #B22222;
  cursor: pointer;
}

.mod-col-1{
  background: #f7f7f7;
}
.mod-col-2{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  // display: flex;
  text-align: center;
flex-direction: column;

}
.modal-form{
text-align: center;
flex-direction: column;

}
.modal-column{
  
  flex-basis: 50%;
}


.modal-btn{
  @include bold();
  font-size: 16px;
  max-width: 370px;
  margin: 0 auto;
}

.modal-in{
  width: 370px;
}
.m-in-2{
  margin-left: 0;
  margin: auto;
  margin-bottom: 33px;
  margin-top: 30px;
}
.m-in-1{
  margin: auto;
  margin-bottom:15px;
}
.modal_title{
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  color:  333333;
  max-width: 300px;
  font-size: 22px;
  @include bold();
}
.modal_subtitle{
  padding-top: 45px;
  padding-bottom: 40px;
  margin: auto;
  font-size: 16px;
  @include reg();
  max-width: 350px;
}

.right_col-bottom{
  
  
 
  margin: 50px  auto 0; 

  width: 270px;
  font-size: 15px;
  @include reg();
  text-align: center;
}
.right_col-text{
  @include bold();
  font-size: 24px;
  max-width: 230px; 
  color: #333333;
  text-decoration: none;
}
#topname-error{
  position: absolute;
  bottom: 340px;
  right: 200px;
  border: none;
  color: red;
}
#topphone-error{
  position: absolute;
  bottom: 225px;
  right: 200px;
  border: none;
  color: red;
}
@media (max-width:900px){
  .modal_dialog{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
      flex-direction: column;
      max-width: 700px;
      
  }
  .mod-col-1{
    display: none;
  }
  .modal_dialog{
    height: 700px;
  }
  #modname-error.error{
    bottom: 374px;
  }
  #modphone-error.error{
    bottom: 255px;
  }
}
@media (max-width:800px){
.modal-form{
  display: flex;
  flex-direction: column;
}
}
@media (max-width:600px){
  #topname-error{
    bottom: 310px;
  }
  #topphone-error{
bottom: 200px;
  }
}
@media (max-width:380px){
  .top-form{
    margin-top: -90px;
  }
  .modal_title{
    margin-top: -50px;
  }
  .modal_subtitle{
    margin-top: -20px;
  }
  .topcallback{
    margin-top: -105px;
  }
  
  .topcallback_number{
    margin-top: -1px;
  }
  #modname-error.error{
    bottom: 440px;
  }
  #modphone-error.error{
    bottom: 325px;
  }
  #topname-error{
  bottom:440px;
  }
  #topphone-error{
bottom: 325px;
  }

}

@media(max-width:375px){
  .modal_dialog{
    max-width: 350px;
  }
  .offer-input{
    max-width: 300px;
  }
  .offer-button{
    max-width: 300px;
  }
  #modphone-error.error{
    bottom: 325px;
    left: 20px;
    width:200px;
  }
  #modname-error.error{
    bottom: 440px;
  }
}
@media(max-width:350px){
  #topname-error{
  right: 100px;
  }
  #topphone-error{
    right: 100px;
  }
}

@media(max-width:334px){
  #modname-error.error{
    bottom: 400px;
  }
  #modphone-error.error{
    bottom: 285px;
    left: -10px;
  }
  .modal_subtitle{
    width: 300px;
    margin: auto;
  }
  #topname-error{
  bottom: 370px;
  }
  #topphone-error{ 
    bottom: 250px;
  }
}