.mod_slide__image{
    margin: auto;
}
.mod_slider{
    max-width: 400px;
    margin-top: 85px;
    
}
.slide__container{
    max-width: 400px;
    margin: auto;
    
}
.modal_arrows{
    width: 400px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 200px;
}
.office_bottom{
    margin-top: 50px;
    font-size: 20px;
    @include reg();
    
}