
.yellow {
    background: #ffc000;
}
.yellow__container{
    max-width: 1170px;
    margin: auto;
}
.yellow__text{
    @include reg();
    font-size: 32px;
    width: 950px;
    text-align: center;
    padding: 100px 0;
    margin: auto;
}
@media (max-width: 1200px){
    .yellow__container {
        max-width: 1000px;
    }
    .yellow__text{
        max-width: 900px ;
    }
}
@media (max-width: 900px){
  .yellow__text{
      max-width: 700px;
  }
}
@media (max-width: 700px){
  .yellow__text{
      max-width: 500px;
  }
}
@media (max-width: 550px){
  .yellow__text{
      max-width: 350px;
  }
}
@media (max-width: 400px){
  .yellow__text{
      max-width: 300px;
  }
}
@media (max-width: 350px){
  .yellow__text{
      max-width: 250px;
      font-size: 18px;
  }
  
}